* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes layout calculations more predictable */
}


html {
    scroll-behavior: smooth;
}


.navbar_container {
    display: flex;
    justify-content: space-around; /* Better for spacing than a large fixed gap */
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px 20px; /* Use padding for spacing */
    width: 100%;
}


.navbar_container .logo {
    background-image: url(/THC-LOGO.webp);
    background-size: cover;
    width: 220pt;
    height: 90pt;
    animation: Slide_down_to_up 2s ease 0s 1 alternate;
    transition-duration: 2s;
}

.navbar_container .logo:hover {
    scale: 1.1;
}



.tags {
    align-content: center;
    animation: Slide_down_to_up 2s ease 0s 1 alternate;
}



a {
   font-family: "Archivo Black", sans-serif;
   color: white;
   text-decoration: none;
   font-size: 17pt; 
   margin: 6pt;
}


.category {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}

.Box_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/FrLW1FCaAAE9Y61.jpeg);
    background-size: cover;
    font-family: "Cookie", cursive;
    height: 500px;
    max-width: 1300px; /* Use max-width to allow shrinking */
    width: 100%; /* Make it flexible */
    animation: Slide_L_to_R 2s ease 0s 1 alternate;
}



.info_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(111, 34, 67);
    color: aliceblue;
    gap: 20px;
}

.head_line_1 {
    background-color: aliceblue;
    height: 8px;
    width: 200px;
    border-radius: 4px;
    transition-duration: 2s;
}

.head_line_1:hover{
    width: 50px;
}




.art_1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    height: auto; /* Allow height to adjust */
    max-width: 600px; /* Allow shrinking */
    width: 90%; /* Use percentage for flexibility */
}



.back_image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: max-content;
    background-image: url(/images\ \(6\).jpeg);
    background-size: cover;    
    height: 600px;
    width: 100%;;
}

.inside_img {
    background-size: cover;
    background-image: url(/Happiness-Box-scaled.webp);
    height: 400px;
    max-width: 400px; /* Use max-width */
    width: 90%;
    animation: slideUp 1s ease forwards;
}



.second_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.build_own_box {
    height: fit-content;
    width: fit-content;
}

#headline_2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkcyan;
}

.build_info {
    text-align: center;
    border: 5px darkcyan solid;
    background-color: white;
    color: darkcyan;
    height: auto;
    padding: 20px;
    max-width: 530px; /* Use max-width */
}

#headline_3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin-top: 20px;
}

.button {
    color: white;
    background-color: darkcyan;
    text-align: center;
    font-weight: bolder;
    height: 50px;
    max-width: 350px; /* Use max-width */
    border-radius: 10px;
}

#new_add_heading {
    margin-top: 10px;
    font-family: "Fugaz One", sans-serif;


}

.info_2 {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap;
}

.Local {
    text-align: center;
    color: black;
    height: auto;
    max-width: 300px;
    width: 90%;
    border-radius: 10px;
}



#headline_4 {
    font-family: "Lato", sans-serif;

}

.artical{
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}


.info_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgb(111, 34, 67);
    padding: 20px;
    gap: 40px;
}

#oj {
    color: white;
    font-family: "Open Sans", sans-serif;
}

.hori_line_2 {
    background-color: aliceblue;
      height: 8px;
    width: 90px;
    border-radius: 4px;
    transition-duration: 2s;
}

.hori_line_2:hover {
    width: 70px;
}

.show_journey {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
}

.livelihood_created_same {
    text-align: center;
    font-family: "Cookie", cursive;
    height: 200px;
    width: 300px;
}

#same {
    color: lightseagreen;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: black;
    height: 600px;
    width: 100%;
}


#content_head {
    color: white;
}


.photo {
    display:  flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    height: 400px;
    width: 400px;
}

.in_photo {
    background-image: url(/THC-LOGO.webp);
    background-size: cover;
    height: 100px;
    width: 300px;
}




.cont {
    height: 400px;
    width: 100px;
}

#content_head {
    text-align: start;
}

.content {
    text-align: start;
}


/* ----------- */
/* Animations */
/* ----------- */

@keyframes Slide_L_to_R {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}


@keyframes Slide_down_to_up {
    from {

        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}


@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* ===================== */
/* RESPONSIVE DESIGN */
/* ===================== */


@media(max-width: 929px){
    .navbar_container {
        gap: 30px;
    }

    .info_1 {
        padding: 40px;
    }

    .back_image {
        padding: 40px;
        gap: 40px;
    }

    .info_2 {
        padding: 100px;
        margin: 100px;
        gap: 50px;
    }

    .footer {
        height: 100%;
        width: 100%;
        gap: 20px
    }

}
